<script id="tmpl-MainView" type="text/html">
    <div class="MainView">
        <h2 class="title">Simple Address Book</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" data-type="Contact"><a href="#">Contact</a></li>
            <li data-type="Group"><a href="#" >Group</a></li>
        </ul>
        <div class="content">

        </div>
    </div>
</script>